{% extends "base.html" %}

{% block body %}
    <div class="flex-1 flex gap-4 p-8 w-screen max-w-screen overflow-x-hidden">
        <div class="flex flex-col shrink-0 justify-start items-left gap-4 w-1/3 h-full border-2 rounded-xl p-8 overflow-y-auto">
            <p class="font-bold text-3xl">{{ model.name }}</p>
            <div class="flex flex-wrap">
            <p class="text-xs rounded-full border-2 border-primary text-center w-fit h-fit px-4 py-1">{{ model.task }}</p>
                {% for tag in model.tags %}
                <p class="text-xs rounded-full border-2 border-accent text-center w-fit h-fit px-4 py-1">{{ tag }}</p>
                {% endfor %}
            </div>
            <p class="text-xl text-wrap">{{ model.description }}</p>
        </div>
        <div class="flex-1 flex flex-col gap-4 w-2/3">
            {% if model.input_type == "text" %}
            <textarea id="input" class="w-full basis-1/12 p-4 flex-1 border-2 rounded-xl" placeholder="Your sentence here..."></textarea>
            {% elif model.input_type == "audio" or model.input_type == "image" %}
            <input type="file" id="input" class="
            w-fit h-fit
            file:cursor-pointer
            file:mr-4 file:py-2 file:px-4
            file:rounded-full file:border-0
            file:text-sm file:font-semibold
            file:bg-blue-50 file:text-blue-700
            hover:file:bg-blue-100" accept="{{ model.input_type }}/*">
            {% elif model.input_type == "conversation" %}
            <div class="w-full max-w-full h-80 grow p-4 border-2 overflow-y-auto overflow-x-hidden rounded-xl flex flex-col-reverse" id="chatbox"></div>
            <input class="w-full h-12 rounded-full border-2 border-text px-4 py-2" type="text" id="input" placeholder="Your sentence here...">
            {% endif %}
            <button id="compute-btn" onclick="compute()" class="flex justify-center items-center w-40 h-10 border rounded-xl shadow-lg px-2 text-text bg-primary font-bold hover:bg-secondary hover:-translate-y-1 hover:ease-in hover:duration-100 ease-in duration-100">
                Compute
            </button>
            {% if model.output_type == "text" %}
            <p id="output" class="w-full basis-1/12 grow p-4 border-2 rounded-xl overflow-y-auto text-wrap break-words"></p>
            {% elif model.output_type == "classes" %}
            <div id="output" class="w-full h-4/10 p-4 flex-1 border-2 rounded-xl flex flex-col justify-start p-4 gap-4 overflow-y-auto"></div>
            {% elif model.output_type == "image" %}
            <div class="w-full basis-9/12 p-4 h-80 border-2 rounded-xl flex justify-center items-center">
                <img id="output" src="" alt="" class="max-h-full max-w-auto w-auto">
            </div>
            {% elif model.output_type == "image_classes" %}
            <div class="w-full h-4/10 p-4 flex-1 border-2 rounded-xl flex justify-center items-center p-4 overflow-x-auto overflow-y-auto">
                <div id="output" class="relative w-fit h-fit">
                </div>
            </div>
            {% endif %}
        </div>
    </div>

    <script>
        function compute() {
            var output = $("#output");
            output.text("");
            var compute_btn = $("#compute-btn");
            compute_btn.attr("disabled", true);
            compute_btn.text("");
            compute_btn.append("<div class=\"loader\"></div>");
            var input_type = "{{ model.input_type }}";
            var output_type = "{{ model.output_type }}";
            var jqxhr;
            if (input_type == "text") {
                jqxhr = send_text();
            } 
            else if (input_type == "audio" || input_type == "image"){
                jqxhr = send_file();
            } 
            else if (input_type == "conversation") {
                jqxhr = send_chat();
            }
            jqxhr.done(parse_response).fail(function(response) {
                $("#output").text(response.responseText);
                compute_btn.text("Compute");
                compute_btn.attr("disabled", false);
                compute_btn.children().remove();
            });
        }
    </script>
    <script>
        function parse_response(response) {
            var output = $("#output");
            var chatbox = $("#chatbox");
            if (response.type == "text") {
                output.text(response.data);
            } 
            else if (response.type == "classes") {
                output.html("");
                for (var i = 0; i < response.data.length; i++) {
                    output.html(output.html() + "<div class=\"rounded-full border-2 border-accent text-center w-full h-12 grow-0 shrink-0 px-4 py-1 flex justify-between items-center bg-gradient-to-r from-accent to-[" + (response.data[i]["score"]*100).toFixed(3) +"%]\"> <p>" 
                        + response.data[i]["label"] + "</p>" + "<p>" + response.data[i]["score"].toFixed(3) + "</p> </div>");
                }
            } 
            else if (response.type == "conversation") {
                chatbox.html("<p class=\"text-left text-wrap max-w-[90%] w-fit h-fit py-2 px-4 rounded-3xl bg-slate-200 text-text mt-2 self-start break-words\">" + response.data + "</p>" + chatbox.html());
            }
            else if (response.type == "image") {
                var data = new Uint8Array(response.data);
                img_src = window.URL.createObjectURL(new Blob([data], { type: 'application/octet-stream' }));
                output.attr("src", img_src);
            }
            else if (response.type == "image_classes") {
                var colors = ["green", "blue", "yellow", "orange", "pink"];
                output.html("");
                output.append("<img src=\"\" alt=\"\" class=\"max-h-full max-w-auto w-auto\">");
                var img = $("#output > img")[0];
                var input = $("#input")[0];
                var file = input.files[0];
                img.src = URL.createObjectURL(new Blob([file], { type: 'application/octet-stream' }));
                var data = response.data;
                console.log(data);
                for (var i = 0; i < data.length; i++) {
                    output.append("<div class=\"class-box absolute w-["+data[i].box.width+"px] h-["+data[i].box.height+"px] left-["+data[i].box.xmin+"px] top-["+data[i].box.ymin+"px] bg-"+colors[i%5]+"-200 opacity-30 border-2 border-"+colors[i%5]+"-600\"></div>")
                }
                var class_boxes = $(".class-box");
                class_boxes.hover(function() {
                    for (var i = 0; i < class_boxes.length; i++) {
                        if (class_boxes[i] !== this) {
                            $(class_boxes[i]).css("opacity", "0.1");
                        }
                    }
                }, function() {
                    class_boxes.css("opacity", "0.4");
                });
            }
            var compute_btn = $("#compute-btn");
            compute_btn.text("Compute");
            compute_btn.attr("disabled", false);
            compute_btn.children().remove();
        }
    </script>
    <script>
        function send_text() {
            var input = $("#input").val();
            var output = $("#output");
            if (input.trim() == "") {
                output.text("Please enter some text.");
                var compute_btn = $("#compute-btn");
                compute_btn.text("Compute");
                compute_btn.attr("disabled", false);
                compute_btn.children().remove();
                return;
            }
            return $.ajax({
                type: "POST",
                url: "/models/{{ model.name }}",
                data: JSON.stringify({input: input}),
                contentType: "application/json",
                dataType: "json"
            });
        }
        function send_file() {
            var input = $("#input")[0].files[0];
            var output = $("#output");
            if (input == undefined) {
                output.text("Please select a file.");
                var compute_btn = $("#compute-btn");
                compute_btn.text("Compute");
                compute_btn.attr("disabled", false);
                compute_btn.children().remove();
                return;
            }
            var formData = new FormData();
            formData.append("input", input);
            return $.ajax({
                type: "POST",
                url: "/models/{{ model.name }}",
                data: formData,
                contentType: false,
                processData: false,
                dataType: "json"
            });
        }
        function send_chat() {
            var input = $("#input").val().trim();
            var output = $("#output");
            var chatbox = $("#chatbox");
            if (input == "") {
                var compute_btn = $("#compute-btn");
                compute_btn.text("Compute");
                compute_btn.attr("disabled", false);
                compute_btn.children().remove();
                return;
            }
            var chat = [];
            chatbox.html("<p class=\"text-left text-wrap max-w-[90%] w-fit h-fit py-2 px-4 rounded-3xl bg-blue-600 text-white mt-2 self-end break-words\">" + input + "</p>" + chatbox.html());
            chatbox.children().filter(function() {
                chat.push($(this).text());
            });
            $("#input").val("");
            return $.ajax({
                type: "POST",
                url: "/models/{{ model.name }}",
                data: JSON.stringify({input: chat}),
                contentType: "application/json",
                dataType: "json"
            });
        }
    </script>
{% endblock %}